 {{ define "pages" }}
 <div class="container">
	 <div class="">
		 <h1>Disclaimer for Pishbug.com</h1>
	</div>

<p>Last Updated: October 21, 2024</p>

<p>The information provided by Pishbug.com (“we,” “us,” or “our”) is for general informational purposes only. All information on the site is provided in good faith, and we make no representations or warranties of any kind, express or implied, regarding the accuracy, completeness, or reliability of any information on the site.</p>

<h2>1. No Professional Advice</h2>

<p>The content on Pishbug.com is not intended to be a substitute for professional advice. You should not rely solely on the information provided on this website for making decisions. Always seek the advice of qualified professionals for any questions or concerns you may have.</p>

<h2>2. External Links</h2>

<p>Our website may contain links to external sites that are not provided or maintained by us. We do not endorse or assume any responsibility for the content, privacy policies, or practices of any third-party websites. We encourage you to review the terms and conditions and privacy policies of any third-party sites you visit.</p>
<h2>3. Limitation of Liability</h2>

<p>Under no circumstances shall Pishbug.com be liable for any direct, indirect, incidental, special, or consequential damages arising from your use of, or reliance on, the information provided on this website.</p>
<h2>4. Changes to Content</h2>

<p>We reserve the right to modify or remove any content from Pishbug.com at our discretion without notice. We do not guarantee that the website will always be available or that the content will be kept up to date.</p>
<h2>5. Personal Responsibility</h2>

<p>You acknowledge and agree that your use of the website and any reliance on any information provided is solely at your own risk.</p>
<h2>6. Contact Information</h2>

<p>If you have any questions or concerns about this disclaimer, please contact us at:

Email: contact@pishbug.com</p>
</div>
 {{end}}